@import '../../variables.scss';

.input{
    width: 30px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    caret-color: transparent;
    background-color: #eeeeee;
    border-radius: 7px;
    color: $black;
    border-left: 4px solid #e5e5e5;
    border-right: 2px solid transparent;
    border-bottom: 4px solid #e5e5e5;
    border-top: 4px solid transparent;
    &:focus{
        outline: none;
        //background-color: #bcd1e3;
        background-color: $focus;
        border-left: 4px solid $focus-darken;
        border-bottom: 4px solid $focus-darken;
    }
}

.correct{
    pointer-events: none;
    background-color: $green;
    border-left: 4px solid $green-darken;
    border-bottom: 4px solid $green-darken;
}

.error{
    animation: error .3s ease;
    @keyframes error {
        0% {
            background-color: #eeeeee;
            border-left: 4px solid #e5e5e5;
            border-bottom: 4px solid #e5e5e5;
        }
        50% {
            background-color: $red;
            border-left: 4px solid $red-darken;
            border-bottom: 4px solid $red-darken;
        }
        100% {
            background-color: #eeeeee;
            border-left: 4px solid #e5e5e5;
            border-bottom: 4px solid #e5e5e5;
        }
    }
}